@import "tailwindcss";

@font-face {
  font-family: 'cm';
  display: swap;
  src: url('./styles/Cookiemonster-gv11.ttf') format('truetype');
}

@font-face {
  font-family: 'sprinkle';
  display: swap;
  src: url('./styles/Sprinklescolors-njrJ.ttf') format('truetype');
}

@theme {
  --font-cm: "cm", sans-serif;
  --font-sprinkle: "sprinkle", sans-serif;
}

@layer utilities {
  .sprinkle {
    font-family: "sprinkle", sans-serif;
    letter-spacing: 0.1em;
  }

  .bg-cat {
    background-image: url('./assets/cat-bg.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto; /* Fill width, auto height (original aspect) */
    background-position: top center;
    position: relative;
    z-index: 0;
  }
  
  .bg-cat::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
  }
}
